body {
  font-family: HelveticaNeue, Helvetica, Arial;
  font-size: 18px;
}
#sidebar {
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 50px;
  color: #2E4054;
  height: 100%;
  width: 30%;
}
#sidebar .selectize-input {
  font-size: .8em;
}
#main {
  background-color: #F2F5F9;
  height: 100%;
  position: absolute;
  left: 30%;
  top: 0;
  padding-top: 50px;
  width: 70%;
}
#chargeContainer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
#charge {
  background-color: #004BC4;
  color: white;
  border: none;
  width: 90%;
  height: 80px;
  font-size: 35px;
  font-weight: bold;
}
#main table tr>td, #cartGrid table tr>td {
  border-left: none;
  vertical-align: middle;
}
#cartGrid .repeater-list tr {
  height: 70px;
}
#cartGrid td.pph-itemPhoto, #cartGrid td.pph-spacer, #cartGrid {
  border: none;
}
#cartGrid tr.special-add {
  color: #ccc;
}
.fuelux .repeater-list-header {
  display: none;
}
#main .repeater-search>.search {
  width: 300px;
}
.amt {
  text-align: right;
}
.amt>div {
  padding-left: 10px;
  padding-top: 2px;
}
.amt>.badge {
  background-color: #2563AB;
}
#cartGrid .repeater-list td {
  border-bottom-color: #E6ECF3;
}
#cartGrid .repeater-list table>thead {
  display:none;
}
#cartGrid .itemDesc {
  font-size: .7em;
  color: #bbb;
  font-weight: bold;
}
#paymentConfirmModal div.confirmText {
  font-weight: bold;
  font-size: +1.5em;
  margin-top: 20px;
  margin-bottom: 30px;
}
#cartGrid .repeater-header {
  padding-top: 9px;
}
#customerInfo .glyphicon-edit {
  float: right;
}
#curCustomerEmail.placeholder, #curCustomerName.placeholder {
  color: #ccc;
}
#customerInfo {
  font-size: .75em;
}
#curCustomerName {
  font-size: 1.2em;
}
#customerInfo * {
  cursor: pointer !important;
}
#customerInfo span.badge {
  position: absolute;
  left: 66px;
  margin-top: -5px;
}
div.cityStateZip>div.tight {
  padding-right: 0px;
}
#variantDiv div.name {
  font-weight: bold;
}
#variantDiv div.price {
  font-size: .9em;
}